<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Enter shop name to delete</h2>
    <form action="/delete-owner" method="POST">
        <input type="text" name="shopName">
        <button>Delete shop</button>
    </form>
    
</body>
</html>