<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    <h2 style="color: magenta;"> wellcome to home page</h2>
    <br> 
    <form action='/register'>
     <button >Register</button>
     </form>
     <form action='/find-owner'>
     <button >Find</button>
     </form>
      </form>
     <form action='/delete-owner'>
     <button >Delete</button>
     </form>
      </form>
     <form action='/update-owner'>
     <button >Update</button>
     </form>
</body>
</html>